@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Söhne Breit";
    src: url("/assets/fonts/sohn-font/OTF/SöhneBreit-Halbfett.otf") format("opentype");
}


@font-face {
    font-family: 'SöhneBreit-Kräftig';
    src: url("/assets/fonts/sohn-font/OTF/SöhneBreit-Kräftig.otf")
}

@font-face {
    font-family: 'Söhne';
    src: url("/assets/fonts/Söhne/TestSohne-Dreiviertelfett.otf")
}

:root {
    --black-color: #111;
    --white-color: #fff;
    --gray-color: #d9d9d9;
    --lightest-gray-color: #fafafa;
    --blue-color: #0d324f;
    --light-blue-color: #357BFF;
    --sky-color: #99B0FF;
    --Text-Secondary-title: #F6F6F8;
    --font-family-title: 'Söhne Breit';
    --dark-blue-color: #0F0F31;
    --border-radius: 8px;
    --blue-banner-bg: #080821;
    --Text-Secondary-darker: #3A404D;
    --font-family-Body: 'Söhne';
}


















@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1500px) {
    .header-container {
        padding-right: 80px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 1440px) {
    .header-container {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 1300px) {
    .desktop-header .centaral-nav-link {
        padding: 0 9px;
    }

    .header-logo {
        max-width: 150px;
    }

    .logo-box {
        width: 16%;
        padding: 20px 0;
    }

    .centaral-nav-box {
        width: 69%;
    }

    .desktop-header .centaral-nav-link,
    .desktop-header .left-nav-link {
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .header-location-box p a {
        font-size: 16px;
    }

    .header-location-box h6 {
        font-size: 12px;
    }

    .header-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1100px) {

    .desktop-header .centaral-nav-link,
    .desktop-header .left-nav-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }
}

@media screen and (max-width:767px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 500px) {}