@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Söhne Breit";
    src: url("/assets/fonts/sohn-font/OTF/SöhneBreit-Halbfett.otf") format("opentype");
}


@font-face {
    font-family: 'SöhneBreit-Kräftig';
    src: url("/assets/fonts/sohn-font/OTF/SöhneBreit-Kräftig.otf")
}

@font-face {
    font-family: 'Söhne';
    src: url("/assets/fonts/Söhne/TestSohne-Dreiviertelfett.otf")
}

:root {
    --black-color: #111;
    --white-color: #fff;
    --gray-color: #d9d9d9;
    --lightest-gray-color: #fafafa;
    --blue-color: #0d324f;
    --light-blue-color: #357BFF;
    --sky-color: #99B0FF;
    --Text-Secondary-title: #F6F6F8;
    --font-family-title: 'Söhne Breit';
    --dark-blue-color: #0F0F31;
    --border-radius: 8px;
    --blue-banner-bg: #080821;
    --Text-Secondary-darker: #3A404D;
    --font-family-Body: 'Söhne';
}

.ordered-list {
    padding-left: 20px;
}

.ordered-list li {
    margin-bottom: 10px;
    color: var(--Text-Primary-highlight);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

/* custom radio button css start here */

.custom-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 20px;
    margin-top: 10px;
}

.custom-radio {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 15px;
    color: #3d4a5c;
    user-select: none;
}

.custom-radio input {
    display: none;
}

/* Square radio */
.custom-radio .checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #b9c2d0;
    border-radius: 50px;
    transition: all 0.2s ease;
    position: relative;
    background: var(--white-color);
}

/* Active state */
.custom-radio input:checked+.checkmark {
    background-color: #4c8bf5;
    border-color: #4c8bf5;
}

/* Check icon */
.custom-radio .checkmark::after {
    content: "";
    position: absolute;
    left: 4.5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.2s ease;
}

.custom-radio input:checked+.checkmark::after {
    opacity: 1;
}

/* custom checkboxes css start here */

.options-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 28px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.options-grid>* {
    flex: 0 0 calc(25% - 22px);
}

.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 15px;
    color: #3d4a5c;
    user-select: none;
}

.custom-checkbox input {
    display: none;
}

/* Square box */
.custom-checkbox .checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #b9c2d0;
    border-radius: 4px;
    transition: all 0.2s ease;
    position: relative;
    background: var(--white-color);
}

/* When checked */
.custom-checkbox input:checked+.checkmark {
    background-color: #4c8bf5;
    border-color: #4c8bf5;
}

/* Checkmark icon */
.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    left: 4.5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.2s ease;
}

.custom-checkbox input:checked+.checkmark::after {
    opacity: 1;
}












@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1500px) {
    .header-container {
        padding-right: 80px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 1440px) {
    .header-container {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 1300px) {
    .desktop-header .centaral-nav-link {
        padding: 0 9px;
    }

    .header-logo {
        max-width: 150px;
    }

    .logo-box {
        width: 16%;
        padding: 20px 0;
    }

    .centaral-nav-box {
        width: 69%;
    }

    .desktop-header .centaral-nav-link,
    .desktop-header .left-nav-link {
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .header-location-box p a {
        font-size: 16px;
    }

    .header-location-box h6 {
        font-size: 12px;
    }

    .header-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1100px) {

    .desktop-header .centaral-nav-link,
    .desktop-header .left-nav-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }
}

@media screen and (max-width:767px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 500px) {}