        .feature-icon-circle {
            width: 48px;
            height: 48px;
            background-color: #212529; 
            color: #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%; 
            font-weight: bold;
            margin-bottom: 1.5rem;
            text-align: center;
            font-family: var(--font-family-title);
            font-size:30px;
        }
        .feature-card {
            background-color: #fff;
            border: 2px solid #D6DAE3;
            border-radius: 8px;
            min-height: 250px;
            box-shadow: -5px 5px 15px 0 rgba(0, 0, 0, 0.05);
        }
        .feature-card .card-subhead{
            color: var(--Text-Primary-highlight);
            text-align: center;
            font-family: var(--font-family-Body);
            font-size:  20px;
            font-style: normal;
            font-weight: 600;
            line-height:  22px; 
            text-transform: uppercase;
        }
        .feature-card .feature-text{
            color: var(--Text-Primary-highlight);
            text-align: center;
            font-family: Figtree;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
        }
        .feature-row > .col-12 {
            margin-bottom: 1.5rem;
        }

        .desired-service-radio label{
            color: var(--Text-Primary-highlight);
            font-family: Figtree;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height:24px;
            padding: 6px 0;
        }

@media screen and (max-width: 1700px) {
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1500px) {
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 991px) {
    
    .feature-row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .feature-row > .col-lg-4, .feature-row > .col-lg-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
